<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678523457245-mtjngf7urv6mqkcbpa1hfllb3g704v6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678523457245-mtjngf7urv6mqkcbpa1hfllb3g704v6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAJpvPI9fBatV1ZgR2PMZHj5bilAI1Crzc</string>
	<key>GCM_SENDER_ID</key>
	<string>678523457245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunusberdibekk.Kisiler-Uygulamasi</string>
	<key>PROJECT_ID</key>
	<string>sozluk-f9260</string>
	<key>STORAGE_BUCKET</key>
	<string>sozluk-f9260.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678523457245:ios:f45e3396a0088c9d8bd534</string>
	<key>DATABASE_URL</key>
	<string>https://sozluk-f9260-default-rtdb.firebaseio.com</string>
</dict>
</plist>